---
layout: default
title: Services
---

{% assign services = site.services | sort: "order" %}

<!-- Main -->
<article id="main">

	<!-- One -->
	<section class="wrapper style2 container special-alt">
		<div class="row gtr-50">
			<div class="col-8 col-12-narrower">
				<header class="centered">
					<h2><strong>Our Services</strong></h2>
				</header>
				<p>Currently, services are only provided in English and reflect pricing for certified speech-language pathologist and structured literacy dyslexia interventionist.</p>
				<p>No referral is required to book an appointment with us, however we recommend families contact their employer, embassy or insurance company to establish eligibility for funding or coverage for special educational services.</p>
			</div>
			<div class="col-4 col-12-narrower imp-narrower">
				<ul class="featured-icons">
					{% for service in services %}
					<span class="icon solid featured {{ service.icon }}"></span>
					{% endfor %}
				</ul>
			</div>
		</div>
	</section>

	<!-- Two -->
	<section class="wrapper style1 container special">
		<div class="row">
			{% for service in services %}
			<div class="col-4 col-12-narrower">
				<section>
					<span class="icon solid featured {{ service.icon }}"></span>
					<header>
						<h3><strong>{{ service.title }}</strong></h3>
					</header>
					<ul{% if service.list_class %} class="{{ service.list_class }}"{% endif %}>
						{% for item in service.details %}
						<li>{{ item }}</li>
						{% endfor %}
					</ul>
				</section>
			</div>
			{% endfor %}
		</div>
	</section>

</article>
