.myth-fact-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}

.column {
	width: 48%;
	margin-right: 2%;
	padding: 10px;
	border-style: none;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.column-left {
	text-align: center;
	width: 36%;
	margin-right: 2%;
	padding: 10px;
	border-style: none;
	box-sizing: border-box;
	margin-bottom: 20px;
	margin-right: 7rem;
}

.column h2 {
	text-align: center;
	margin-bottom: 10px;
}

.column p {
	margin-bottom: 10px;
}

.column ul {
	list-style-type: disc;
	margin-left: 20px;
}

.borderless {
	border-style: none;
}

.fact {
	background-color: #54424B;
}

.misconception {
	background-color: #606769;
}
